{
  "trailingComma": "none",
  "singleQuote": true,
  "tabWidth": 2,
  "htmlWhitespaceSensitivity": "ignore",
  "overrides": [
      {
          "files": "**/lwc/**/*.html",
          "options": { "parser": "lwc" }
      },
      {
          "files": "*.{cmp,page,component}",
          "options": { "parser": "html" }
      }
  ]
}